.container{
    margin:10px;
}


.table-striped>tbody>td>tr:nth-of-type(odd) 
{ 
    background-color: rgb(239, 239, 239); 
   
  
    
}
.table-striped>tbody>td>tr:nth-of-type(even) 
{ 
    background-color: rgb(253, 253, 253); 
   
  
    
}



table{
    border-radius:6px;
    -moz-border-radius:6px;
    border-collapse: separate;
    border-spacing: 10px;
  }



.btn-primary{
margin-left: 8px;
margin-bottom: 5px;;
}